* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand__title {
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* note: A > B will only select B that are direct children to A 
(that is, there are no other elements inbetween).
A B will select any B that are inside A, 
even if there are other elements between them. */

.navbar__links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar__links li {
    list-style: none;
}

.navbar__links a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar__links li:hover {
    background-color: #555;
}

.toggle__button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 21px;
}

.toggle__button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle__button {
        display: flex;
    }
    .navbar__links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar__links li {
        text-align: center;
    }
    .navbar__links li a {
        padding: 0.5rem 1rem;
    }
    .navbar__links.active {
        display: flex;
    }
}
